<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="corp.katet.evernote" >

    <application
        android:name=".activity.EvernoteApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_add_green_elephant"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.MainMenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.evernote.client.android.EvernoteOAuthActivity" />
        <activity android:name="com.evernote.client.android.login.EvernoteLoginActivity" />
        <activity
            android:name=".activity.NoteDashboardActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.UpdateTextNoteActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.CreateTextNoteActivity"
            android:label="@string/text_note"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.CreateDrawNoteActivity"
            android:label="@string/title_activity_create_draw_note" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
